<<<<<<< HEAD:assignment/styles/admin_header.css
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
}

#profile{
    background: transparent;
    border: none;
}

.header-nav{
    display: flex;
    align-items: center;
    gap: 8px;
}
.menu-toggle{
    color: #075085;
}

#hamburger{
    margin-top: -5px;
    margin-left: 5px;
    padding-top: 0;

    visibility: hidden;
    display: none;
    opacity: 0;
}

/* phone */
@media(max-width: 600px){
  
  #hamburger{
    display: block;
    visibility: visible;
    opacity: 1;
  }

  #dropdown >ul{
    position: absolute;
    top: 40px;
    left: 230px;
    border-radius: 5px;
    background-color:#075085;
  }

  #dropdown ul{
    list-style: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: medium;
    font-weight: 200;
    border-radius: 5px;
    z-index: 1;

    text-align: center;
    display: block;
    margin: 0;
    padding: 5px;

    display: none;
    opacity: 0;
    visibility: hidden;
  }
  
  #dropdown ul li{
    position: relative;
    padding: 5px;
    border-radius: 5px;
  }

  #dropdown ul li:hover{
    background-color: #0c7dce;
  }

  #dropdown ul li ul{
    padding: 0;
    position: absolute;
    margin-left: -30px;
    width: max-content;
    min-width: 100%;
    display: block;
    font-size: small;
    z-index: 2;

    display: none;
    opacity: 0;
    visibility: hidden;
  }

  #dropdown ul li ul li{
    background-color: #21a3ff;
    display: block;
  }

  #dropdown ul li ul li:hover{
    background-color: #67c0ff;
  }

  #dropdown ul li ul li ul{
    position: absolute;
    margin-left: -50px;
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  #dropdown ul li ul li ul li{
    background-color: #84c3f0;
    display: block;
  }

  #dropdown ul li ul li ul li:hover{
    background-color: #b4dbf7;
  }

  #dropdown:hover > ul, #dropdown ul li:hover > ul, #dropdown ul li ul li:hover > ul{
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

/* tablet */
@media(min-width: 601px) and (max-width: 1024px){
  #header{
    position: absolute;
  }

  #hamburger{
    display: block;
    visibility: visible;
    opacity: 1;
  }

  #dropdown >ul{
    position: absolute;
    top: 40px;
    right: 20px;
    border-radius: 5px;
    background-color:#075085;
  }

  #dropdown ul{
    list-style: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: large;
    font-weight: 200;
    border-radius: 5px;
    z-index: 1;

    text-align: center;
    display: block;
    margin: 0;
    padding: 5px;

    display: none;
    opacity: 0;
    visibility: hidden;
  }
  
  #dropdown ul li{
    width: 250px;
    height: 40px;
    padding: 10px;
    margin: auto;

    position: relative;
    border-radius: 5px;
  }

  #dropdown ul li:hover{
    background-color: #0c7dce;
  }

  #dropdown ul li ul{
    padding: 0;
    position: absolute;
    margin-left: -30px;
    display: block;
    font-size: medium;
    z-index: 2;

    display: none;
    opacity: 0;
    visibility: hidden;
  }

  #dropdown ul li ul li{
    background-color: #21a3ff;
    display: block;
  }

  #dropdown ul li ul li:hover{
    background-color: #67c0ff;
  }

  #dropdown ul li ul li ul{
    position: absolute;
    margin-left: -50px;
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  #dropdown ul li ul li ul li{
    background-color: #84c3f0;
    display: block;
  }

  #dropdown ul li ul li ul li:hover{
    background-color: #b4dbf7;
  }

  #dropdown:hover > ul, #dropdown ul li:hover > ul, #dropdown ul li ul li:hover > ul{
    display: block;
    opacity: 1;
    visibility: visible;
  }
=======
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
}

#profile{
    background: transparent;
    border: none;
}

.header-nav{
    display: flex;
    align-items: center;
    gap: 8px;
}
.menu-toggle{
    color: #075085;
}

#hamburger{
    margin-top: -5px;
    margin-left: 5px;
    padding-top: 0;

    visibility: hidden;
    display: none;
    opacity: 0;
}

/* phone */
@media(max-width: 600px){
  
  #hamburger{
    display: block;
    visibility: visible;
    opacity: 1;
  }

  #dropdown >ul{
    position: absolute;
    top: 40px;
    left: 230px;
    border-radius: 5px;
    background-color:#075085;
  }

  #dropdown ul{
    list-style: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: medium;
    font-weight: 200;
    border-radius: 5px;
    z-index: 1;

    text-align: center;
    display: block;
    margin: 0;
    padding: 5px;

    display: none;
    opacity: 0;
    visibility: hidden;
  }
  
  #dropdown ul li{
    position: relative;
    padding: 5px;
    border-radius: 5px;
  }

  #dropdown ul li:hover{
    background-color: #0c7dce;
  }

  #dropdown ul li ul{
    padding: 0;
    position: absolute;
    margin-left: -30px;
    width: max-content;
    min-width: 100%;
    display: block;
    font-size: small;
    z-index: 2;

    display: none;
    opacity: 0;
    visibility: hidden;
  }

  #dropdown ul li ul li{
    background-color: #21a3ff;
    display: block;
  }

  #dropdown ul li ul li:hover{
    background-color: #67c0ff;
  }

  #dropdown ul li ul li ul{
    position: absolute;
    margin-left: -50px;
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  #dropdown ul li ul li ul li{
    background-color: #84c3f0;
    display: block;
  }

  #dropdown ul li ul li ul li:hover{
    background-color: #b4dbf7;
  }

  #dropdown:hover > ul, #dropdown ul li:hover > ul, #dropdown ul li ul li:hover > ul{
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

/* tablet */
@media(min-width: 601px) and (max-width: 1024px){
  #hamburger{
    display: block;
    visibility: visible;
    opacity: 1;
  }

  #dropdown >ul{
    position: absolute;
    top: 40px;
    right: 20px;
    border-radius: 5px;
    background-color:#075085;
  }

  #dropdown ul{
    list-style: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: large;
    font-weight: 200;
    border-radius: 5px;
    z-index: 1;

    text-align: center;
    display: block;
    margin: 0;
    padding: 5px;

    display: none;
    opacity: 0;
    visibility: hidden;
  }
  
  #dropdown ul li{
    width: 250px;
    height: 40px;
    padding: 10px;
    margin: auto;

    position: relative;
    border-radius: 5px;
  }

  #dropdown ul li:hover{
    background-color: #0c7dce;
  }

  #dropdown ul li ul{
    padding: 0;
    position: absolute;
    margin-left: -30px;
    display: block;
    font-size: medium;
    z-index: 2;

    display: none;
    opacity: 0;
    visibility: hidden;
  }

  #dropdown ul li ul li{
    background-color: #21a3ff;
    display: block;
  }

  #dropdown ul li ul li:hover{
    background-color: #67c0ff;
  }

  #dropdown ul li ul li ul{
    position: absolute;
    margin-left: -50px;
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  #dropdown ul li ul li ul li{
    background-color: #84c3f0;
    display: block;
  }

  #dropdown ul li ul li ul li:hover{
    background-color: #b4dbf7;
  }

  #dropdown:hover > ul, #dropdown ul li:hover > ul, #dropdown ul li ul li:hover > ul{
    display: block;
    opacity: 1;
    visibility: visible;
  }
>>>>>>> 74f259cb58825ee2f25953dfbf10b2be7a39cae8:assignmenet/styles/admin_header.css
}