body{
    margin: 0;
    padding: 0;
    background-color: #FBF6EF;
    font-family: Arial, Helvetica, sans-serif
}

#side{
    width: 11%;
    height: auto;
    position: fixed;
    margin-left: 20px;
    margin-top: 120px;
}

#nav{
    display: flex;
    align-items: center;
    margin: 10px 40px;
    font-size: 23px;
    padding-top: 80px;
}

#nav a{
    padding-right: 10px;
    cursor: pointer;
    color:black;
    margin-left: 20%;
}

#nav a:hover{
    color: #0066AF;
}

#nav p{
    margin-left: 340px;
    font-size: 30px;
}

.icon{
    align-items: center;
    font-size: 23px;
}

table{
    margin: 10px auto;
    width: fit-content;
    
}

td{
    padding-top: 20px;
    padding-left: 10px;
}

input{
    height: 40px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}

.title{
    width: 500px;
}

.mail{
    width: 500px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 5px;
}

.info{
    width: 500px;
    height: 40px;
    min-width: 200px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}

.date, .time{
    width: 240px;
}

.prjDtl{
    height: 300px;
    width: 500px;
    box-sizing: border-box;
    min-width: 200px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 10px;
}

.button{
    display: flex;
}

.save{
    background-color: #075085;
    color: white;
    border-radius: 8px;
    width: 70px;
    height: 30px;
    border: #075085;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 0;
    cursor: pointer;
}

.save:hover{
    background-color: #288fd8;
}

.delete{
    background-color: #FF0808;
    color: white;
    border-radius: 8px;
    width: 70px;
    height: 30px;
    border: #FF0808;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    padding-left: 0;
    cursor: pointer;
}

.delete:hover{
    background-color: #dd1600;
}

/* phone */
@media(max-width: 600px){
    .prjDtl{
        width: 270px;
        height: 200px;
    }
    
    .title{
        width: 270px;
        height: 25px;
    } 

    .date, .time{
        width: 125px;
        height: 25px;
    }

    .info{
        width: 270px;
        height: 25px;
    }
    .mail{
        width: 270px;
        height: 25px;
    }

    #nav a{
        margin-left: 0;
    }

    #nav p{
        font-size: 20px;
        margin-left: 10px;
    }
}

/* tablet */
@media(min-width: 601px) and (max-width: 1024px){
    .prjDtl{
        width: 500px;
        height: 200px;
    }

    .title{
        height: 40px;
    }
    .mail{
        width: 500px;
        height: 40px;
    }

    .info{
        width: 500px;
        height: 40px;
    }

    td{
        padding-top: 15px;
    }

    #nav a{
        margin-left: 80px;
    }

    #nav p{
        font-size: 20px;
        margin-left: 10px;
    }
}