*{
    padding: 0;
    margin: 0;
}

a, a:hover{
    color: white;
    text-decoration: none;
}

.vmenu{
    display: block;
    /* width: 10%; */
    font-size: small;
    /* margin-left: 10px; */
    margin-top: 70px;
}

.vmenu img{
    width: 20px;
    height: 20px;
}

.arrow{
  margin-left: auto;
  display: flex;
  position: relative;
  align-items: flex-end;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.selection-box, .selection-dropdown{
  position: relative;
  display: block;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  background-color: #075085;
  color: white;
  font-family: "Inter", sans-serif;
  padding: 15px;
  margin: 15px auto;
  border-radius: 10px;
  cursor: pointer;
}

.selection-box:hover, .selection-dropdown:hover{
  background-color: #1f72ad;
}

#nav-collab, #nav-act{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-collab ul, #nav-act ul{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style: none;
  background-color: #1a85d2;
  font-family: "Inter", sans-serif;
  color: white;
  border-radius: 10px;
  z-index: 1000;

  display: none;
  opacity: 0;
  visibility: hidden;
}

#collabArrow{
    margin-left: -9px;
}

#actArrow{
    margin-left: 24px;
}
#nav-collab ul li, #nav-act ul li{
  background: #559ed2;
  padding: 10px 30px;
  text-align: center;
  color: white;
  border-radius: 5px;
  position: relative;
}

#nav-act ul li .arrow{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

#nav-collab:hover>ul, #nav-act:hover>ul{
  display: block;
  opacity: 1;
  visibility: visible;
}

#nav-collab ul li:hover, #nav-act ul li:hover{
  background-color: #88bbdf;
  cursor: pointer;
}

#nav-act ul li ul{
  padding: 0;
  margin: 0;
  position: absolute;
  width: 180px;
  left: 20%;
  display: none;
  opacity: 0;
  visibility: hidden;
}

#nav-act ul li:hover >ul{
  display: block;
  opacity: 1;
  visibility: visible;
}

#nav-act ul li ul li{
  background-color: #2296e9;
}

#nav-act ul li ul:hover{
  background: #c9e4f7;
}

/* phone */
@media(max-width: 600px){
    .vmenu{
        visibility: hidden;
        opacity: 0;
        display: none;
    }
}

/* tablet */
@media(min-width: 601px) and (max-width: 1024px){
    .vmenu{
        visibility: hidden;
        opacity: 0;
        display: none;
    }
}   