body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FBF6EF;
}

#side{
    width: 11%;
    height: auto;
    position: fixed;
    margin-left: 20px;
    margin-top: 120px;
}

#profile{
    visibility: hidden;
}

#title{
    font-size: 30px;
    width: fit-content;
    margin: 0 auto;
    padding-top: 100px;

}
.container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 30px auto;
}

#user .profile{
    font-size: 130px;
    margin-right: 50px;
    color: black;
}

#name .icon{
    font-size: 20px;
}

/* #name table{
    border: 1px black; 
    justify-content: center;
    margin: 10px auto;
    width: fit-content;
    padding: 10px; 
} */

#name td{
    padding: 5px;
    /* border: 1px black; */
    height: 30px;
}

#name input[type='text']{
    height: 30px;
    width: 250px;
    font-size: 15px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
}


#info table{
    justify-content: center; 
    margin: 10px auto;
    width: fit-content;
    padding: 10px; 
} 

#info td{
    padding: 15px; 
} 

#info input[type='text']{
    background-color: #D9D9D9;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 200px;
}

#info input[type='tel']{
    background-color: #D9D9D9;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 200px;
    padding-left: 10px;
}

#button{
    display: flex;
}

.btnSave{
    background-color: #075085;
    color: white;
    border-radius: 8px;
    width: 70px;
    height: 30px;
    border: #075085;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.btnSave:hover{
    background-color: #288fd8;
}

.btnLogout{
    background-color: #FF0808;
    color: white;
    border-radius: 8px;
    width: 70px;
    height: 30px;
    border: #FF0808;
    margin-right: 5%;
    margin-bottom: 20px; 
    cursor: pointer;
}

.btnLogout:hover{
    background-color: #dd1600;
}

/* phone */
@media(max-width: 600px){
    #user .profile{
        font-size: 80px;
        margin-right: 10px;
    }

    #info table{
        font-size: 15px;
    }

    #info td{
    padding: 10px; 
    } 

    #name .icon{
        font-size: 18px;
    }

    #name input[type='text']{
    height: 25px;
    width: 180px;
    font-size: 10px;
    }
}
    

/* tablet */
@media(min-width: 601px) and (max-width: 1024px){
    #user .profile{
        font-size: 100px;
        margin-right: 40px;
    }
    
    #info table{
        font-size: 18px;
    } 

    #name .icon{
        font-size: 18px;
    }

    #name input[type='text']{
    font-size: 13px;
    }
} 