@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

#side {
    width: 11%;
    position: fixed;
    margin-left: 20px;
}

.returnArrow{
    position: absolute;
    left: 35%;
    top: 16%;
    color: black;
}

.returnArrow:hover{
    color: #147ec9;
}

#content h1{
    margin-top: 100px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: xx-large;
    font-weight: 700;
}

#uploadPic{
    display: block;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    width: 500px;
    height: 150px;
    margin: 30px auto;
    margin-bottom: 0;
}

.LArrow{
    margin-top: 15%;
    color: #0E4369;
}

#pic{
    position: absolute;
    margin: 30px 12%;
    width: 80px;
}

.RArrow{
    position: absolute;
    top: 33.5%;
    left: 64.5%;
    color: #0E4369;
}

.LArrow:hover, .RArrow:hover{
    color: #1e84cd;
    cursor: pointer;
}

.dlt,.upld{
    position: absolute;
    margin: 5px;
    top: 24.5%;
    left: 64%;
}

.dlt{
    left: 62%;
    color: red;
}

.dlt:hover{
    color: rgb(181, 0, 0);
    cursor: pointer;
}

.upld{
    color: #075085;
}

.upld:hover{
    color: #0b6db8;
}

#circle{
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 10px;
}

.name, .descIcon, .phone, .selection, .locationIcon{
    position: relative;
    text-align: center;
    margin-left: 18%;
}

.form{
    display: flex;
    margin: 25px 30%; 
}

#indiForm, #indiTxtArea{
    box-sizing: border-box;
    padding: 5px;
    border: none;
    background-color: #D9D9D9;
    border-radius: 5px;
    width: 65vh;
    height: 45px;
    font-style: italic;
    margin-top: 5px;
}

#indiTxtArea{
    height: 90px;
}

#save{
    padding: 10px;
    margin-left: 65%;
    margin-bottom: 10px;
    font-family: "Inter", sans-serif;
    border: none;
    font-weight: 600;
    font-size: 16px;
    background-color: #075085;
    border-radius: 5px;
    color: white;
    width: 8%;
    cursor: pointer;
}

#save:hover{
    background-color: #147ec9;
}

/* phone */
@media(max-width: 600px){
    .returnArrow{
        left: 7%;
        top: 18%;
    }

    #content h1{
        font-size: 30px;
    }

    #uploadPic{
        width: 30vh;
    }

    /* .LArrow, #RArrow, #dlt, #upld{
        width: 20px;

    } */
    .LArrow{
        margin-top: 35%;
    }

    #pic{
        width: 10vh;
        left: 30%;
        top: 27%;
    }

    .RArrow{
        top: 35.5%;
        left: 69%;
    }

    .upld{
        left: 68%;
        top:27%
    }
    
    .dlt{
        left: 61%;
        top:27%
    }

    .form{
        width: 40vh;
        margin-left: 18%;
    }

    #circle{
        width: 30px;
        height: 30px;
    }

    #indiForm, #indiTxtArea{
        width: 25vh;
        height: 40px;
        font-size: small;
    }

    #indiTxtArea{
        height: 70px;
    }

    #save{
        width: 10vh;
        height: 25px;
        padding: 5px;
        font-size: small;
        margin-top: -20px;
    }
}

/* tablet */
@media(min-width: 601px) and (max-width: 1024px){
    .returnArrow{
        left: 20%;
        top: 12%;
    }
    
    #uploadPic{
        width: 40vh;
        margin: 30px 25%;
    }

    .LArrow{
        margin-top: 18%;
    }

    #pic{
        width: 8vh;
        left: 35%;
    }

    .RArrow{
        top: 24%;
        left: 74.5%;
    }

    .upld{
        top: 18%;
        left: 74%;
    }

    .dlt{
        top: 18%;
        left: 70.5%;
    }
    
    .form{
        margin-left: 13%;
        width: 70vh;
    }

    #circle{
        width: 35px;
        height: 35px;
    }

    #indiForm, #indiTxtArea{
        width: 50vh;
    }
    
    #save{
        font-size: medium;
        padding: 10px;
        width: 10vh;
        margin-left: 80%;
    }
}