*{
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
}

#profile{
    background: transparent;
    border: none;
}

.header-nav{
    display: flex;
    align-items: center;
    gap: 8px;
}
.menu-toggle{
    color: #075085;
}

#hamburger{
    margin-top: -5px;
    margin-left: 5px;
    padding-top: 0;

    visibility: hidden;
    display: none;
    opacity: 0;
}

/* phone */
@media(max-width: 600px){
  #hamburger{
    display: block;
    visibility: visible;
    opacity: 1;
  }
}

/* tablet */
@media(min-width: 601px) and (max-width: 1024px){
  #hamburger{
    display: block;
    visibility: visible;
    opacity: 1;
  }
}