@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

#side {
    width: 11%;
    position: fixed;
    margin-left: 20px;
}

#box{
    margin: 0 30%;
}
#content h1{
    margin-top: 100px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: xx-large;
    font-weight: 700;
}

#circle{
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 10px;
}

.dateIcon, .timeIcon, .descIcon, .freqIcon, .selection, .locationIcon, .collabIcon{
    position: relative;
    text-align: center;
    margin-left: 18%;
}

.forms{
    width: 90vh;
    display: flex;
    margin: 25px auto; 
}

#indiForm, #indiSel, #indiTxtArea, #indiSmallForm{
    box-sizing: border-box;
    padding: 5px;
    border: none;
    background-color: #D9D9D9;
    border-radius: 5px;
    width: 65vh;
    height: 45px;
    font-style: italic;
    margin-top: 5px;
}

#indiSmallForm{
    width: 31vh;
}

#indiTxtArea{
    height: 15vh;
}

#save{
    padding: 10px;
    margin-left: 85%;
    margin-bottom: 10px;
    font-family: "Inter", sans-serif;
    border: none;
    font-weight: 600;
    font-size: 16px;
    background-color: #075085;
    border-radius: 5px;
    color: white;
    width: 15%;
    cursor: pointer;
}

#save:hover{
    background-color: #147ec9;
}

/* phone */
@media(max-width: 600px){
    #content h1{
        font-size: 30px;
    }

    #box{
        margin-left: 15%;
    }
    
    .forms{
        width: 40vh;
    }

    #circle{
        width: 30px;
        height: 30px;
    }

    #indiForm, #indiSel, #indiTxtArea, #indiSmallForm{
        width: 29vh;
        height: 40px;
        font-size: small;
    }

    #indiTxtArea{
        height: 13vh;
    }
    #indiSmallForm{
        width: 13vh;
    }

    #save{
        width: 10vh;
        height: 25px;
        padding: 5px;
        font-size: small;
        margin-top: -20px;
    }
}

/* tablet */
@media(min-width: 601px) and (max-width: 1024px){
    #box{
        margin-left: 15%;
    }
    .forms{
        width: 70vh;
    }

    #circle{
        width: 35px;
        height: 35px;
    }

    #indiForm, #indiSel, #indiTxtArea{
        width: 50vh;
    }

    #indiSmallForm{
        width: 24vh;
    }
    
    #save{
        font-size: medium;
        padding: 10px;
        width: 10vh;
        margin-left: 110%;
    }
}