@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

#side {
    width: 11%;
    position: fixed;
    margin-left: 20px;
}

#top{
    display: flex;
    margin-top: 80px;
    margin-left: 25%;
}

#top h2{
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.returnArrow{
    margin-top: 15px;
    margin-right: 8px;
    color: black;
}

.returnArrow:hover{
    color:#0066AF;
}

#mainInfo{
    display: flex;
    margin: 30px 33%;
}

#mainInfo img{
    width: 10vh;
    height: 10vh;
    margin-top: 2%;
    margin-right: 15px;
    margin: 20px;
}

#desc{
    width: 50vh;
}

#desc h1{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #0066AF;
    margin-top: 7%;
}

#desc h2{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #0066AF;
}

#subInfo{
    margin: 4% 35%;
}

#title, #attr{
    padding: 20px;
    font-size: 17px;
}

#attr{
    color: #666666;
}

#delete{
    padding: 10px;
    margin-left: 65%;
    margin-bottom: 10px;
    font-family: "Inter", sans-serif;
    border: none;
    font-weight: 600;
    font-size: 16px;
    background-color: red;
    border-radius: 5px;
    color: white;
    width: 8%;
    cursor: pointer;
}

#delete p{
    margin-left: 25%;
}

#delete:hover{
    background-color: rgb(185, 3, 3);
}

/* phone */
@media(max-width: 600px){
    .returnArrow{
        width: 40px ;
        margin-left: -60px;
    }

    #top h2{
        font-size: 20px;
        margin-top: 4px;
    }

    #mainInfo{
        margin-left: 19%;
        margin-bottom: 0;
        width: 35vh;
        height: 30vh;
    }

    #mainInfo img{
        margin-top: 0;
    }
    #mainInfo h1{
        width: 150px;
        font-size: 20px;
    }

    #mainInfo h2{
        font-size: 17px;
    }

    #mainInfo p{
        font-size: small;
    }
    #subInfo{
        margin-top: -25%;
        margin-left: 14%;
        width: 40vh;
    }

    #title, #attr{
        font-size: small;
    }

    #delete{
        width: 10vh;
        height: 25px;
        padding: 5px;
        font-size: small;
        margin-top: -20px;
    }

    #delete p{
        margin-left: 7px;
    }
}

/* tablet */
@media(min-width: 601px) and (max-width: 1024px){
    #top{
        margin-left: 10%;
    }
    #mainInfo{
        width: 40vh;
        height: 20vh;
        margin-left: 25%;
        font-size: larger;
        margin-top: 80px;
    }

    #mainInfo p{
        font-family: "Inter", sans-serif;
        font-size: large;
        font-weight: 400;
    }

    #subInfo{
        width: 35vh;
        height: auto;
        margin-left: 26%;
        margin-top: -10%;
    }
    
    #title, #attr{
        font-size: 20px;
    }

    #delete{
        font-size: medium;
        padding: 10px;
        width: 10vh;
        margin-left: 80%;
    }
    
    #delete p{
        margin-left: 17px;
    }
}