@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
}

#side {
    width: 11%;
    position: fixed;
    margin-left: 20px;
}

.icon{
    width: 20px;
    height: 20px;
}

#top{
    display: inline;
}

#top h1{
    margin-top: 100px;
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
}

#search{
    background-color: #187DC6;
    color: white;
    text-align: center;
    font-size: 15px;
    margin-left: 60%;
    padding: 10px;
    height: auto;
    width: 25vh;
    display: flex;
    border-radius: 10px;
    cursor: pointer;
}

#search p{
    padding-top: 1.5px;
    padding-right: 17px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

.indiBus{
    background-color: #D9D9D9;
    border-radius: 10px;
    width: 60%;
    height: 120px;
    margin: 30px auto;
    display: flex;
}

#picture{
    width: 60px;
    height: 60px;
    margin: auto 30px;
}

#text{
    margin: auto 10px;
}

#text h2{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #075085;
}

#summary, #user{
    color: #8F8F8F;
    margin: 3px;
}

#summary{
    margin-top: 5px;
}

#user{
    font-size: small;
}

#icons{
    margin: auto;
    margin-left: 55%;
}

#edit, #delete{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    display: inline;
}

#edit:hover, #delete:hover{
    cursor: pointer;
}

/* phone */
@media(max-width: 600px){
    .icon{
        width: 20px;
        height: 20px;
    }
    #search{
        margin-left: 50%;
        width: 43%;
        font-size: 14px;
    }
    .indiBus{
        width: 80%;
    }

    #picture{
        width: 45px;
        height: 45px;
    }

    #text{
        font-size: 75%;
        margin: auto 5px;
    }

    #user{
        font-size: 95%;
    }

    #icons{
        margin-left: 7%;
    }

    #edit,#delete{
        width: 20px;
        height: 20px;
    }
}

/* tablet */
@media(min-width: 601px) and (max-width: 1024px){
    #search{
        margin-left: 60%;
        margin-top: 20px;
    }

    .indiBus{
        width: 70%;
        margin: 40px auto;
    }

    #icons{
        margin-left: 30%;
    }

    #text{
        font-size: 100%;
    }
}