@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

#side {
    width: 11%;
    position: fixed;
    margin-left: 20px;
}

.returnArrow{
    position: absolute;
    left: 35%;
    top: 16%;
    color: black;
}

.returnArrow:hover{
    color: #147ec9;
}

#content h1{
    margin-top: 100px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: xx-large;
    font-weight: 700;
}

#uploadProfile{
    display: block;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    width: 500px;
    height: 150px;
    margin: 30px auto;
    margin-bottom: 0;
}

#circle{
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 10px;
}

.upload{
    position: relative;
    margin-left: 94%;
    margin-top: 5px;
    color: #075085;
    width: 30px;
    height: 20px;
}

.upload:hover{
    color: #147ec9;
    cursor: pointer;
}

#user{
    position: absolute;
    margin: 30px 14%;
    width: 80px;
}

.name, .email, .phone, .selection, .progIcon{
    position: relative;
    text-align: center;
    margin-left: 18%;
    margin-top: 10px;
}

.form{
    display: flex;
    margin: 25px 31%; 
}

#indiForm, #indiSel, #multiSel{
    box-sizing: border-box;
    padding: 5px;
    border: none;
    background-color: #D9D9D9;
    border-radius: 5px;
    width: 65vh;
    height: 45px;
    font-style: italic;
    margin-top: 5px;
}

#multiSel{
    height: 100%;
}

#multiSel[multiple] option:checked{
    background-color: #797979;
    color: white;
}

#save{
    padding: 10px;
    margin-left: 65%;
    margin-bottom: 10px;
    font-family: "Inter", sans-serif;
    border: none;
    font-weight: 600;
    font-size: 16px;
    background-color: #075085;
    border-radius: 5px;
    color: white;
    width: 8%;
    cursor: pointer;
}

#save:hover{
    background-color: #147ec9;
}

/* phone */
@media(max-width: 600px){
    .returnArrow{
        left: 7%;
        top: 18%;
    }

    #content h1{
        font-size: 30px;
    }

    #uploadProfile{
        width: 30vh;
    }

    .upload{
        margin-left: 85%;
        width: 20px;
    }

    #user{
        margin-left: 15%;
    }

    .form{
        width: 40vh;
        margin-left: 18%;
    }

    #circle{
        width: 30px;
        height: 30px;
    }

    #indiForm, #indiSel, #multiSel{
        width: 25vh;
        height: 40px;
        font-size: small;
    }

    #multiSel{
        height: auto;
    }

    #save{
        width: 10vh;
        height: 25px;
        padding: 5px;
        font-size: small;
        margin-top: -20px;
    }
}

/* tablet */
@media(min-width: 601px) and (max-width: 1024px){
    #content{
        flex: 1;
        margin-left: -5%;
    }

    .returnArrow{
        left: 20%;
        top: 12%;
    }

    #uploadProfile{
        width: 40vh;
        margin: 30px 25%;
    }

    #user{
        margin-left: 22%;
    }

    .upload{
        margin-left: 93%;
    }
    
    .form{
        margin-left: 13%;
        width: 70vh;
    }

    #circle{
        width: 35px;
        height: 35px;
    }
    #indiForm, #indiSel, #multiSel{
        width: 50vh;
    }
    
    #save{
        font-size: medium;
        padding: 10px;
        width: 10vh;
        margin-left: 80%;
    }
}