body{
    margin: 0;
    padding: 0;
    background-color: #FBF6EF;
    font-family: Arial, Helvetica, sans-serif;
}

#side{
    width: 11%;
    height: auto;
    position: fixed;
    margin-left: 20px;
    margin-top: 30px;
}

#title{
    font-size: 30px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 100px;
}

#contact td{
    padding-top: 10px;
    width: 500px;
}

#contact table{
    margin: 10px auto;
    width: 200px;
    height: 30px;
}

#contact .icon{
    font-size: 20px;
    padding-right: 20px;
}

#contact input[type="text"], input[type='tel'], input[type='email']{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    background-color: #D9D9D9;
    border: none;
    padding-left: 10px;
}

#info table{
    margin: 10px auto;
}

#info .section{
    padding-right: 10px;
    font-size: 15px;
}

#info td{
    padding: 10px;
}

#info textarea{
    width: 800px;
    height: 200px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 15px;
}

.save{
    display: flex;
}

input[type="submit"]{
    background-color: #075085;
    color: white;
    border-radius: 8px;
    width: 70px;
    height: 30px;
    border: #075085;
    margin-left: auto;
    margin-right: 5%;
    margin-bottom: 20px;
    margin-top: 10px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #288fd8;
} 

/* phone */
@media(max-width: 600px){
    #contact input[type="text"], input[type='tel'], input[type='email']{
        width: 230px;
        height: 30px;
        font-size: 13px;
    }

    #contact .icon{
        font-size: 18px;
        padding-right: 10px;
    }

    #info td{
        padding: 5px;
    }

    #info textarea{
        width: 280px;
        height: 150px;
        font-size: 13px;
    }

    #info .section{
    padding-right: 5px;
    font-size: 12px;
    }

    #title p{
        font-size: 20px;
    }
} 

/* tablet */
@media(min-width: 601px) and (max-width: 1024px){
    #contact input[type="text"], input[type='tel'], input[type='email']{
        width: 350px;
        height: 30px;
        font-size: 13px;
    }

    #info td{
        padding: 5px;
    }

    #info textarea{
        width: 600px;
    }

    #contact table{
    margin: 10px auto;
    }

    #info .section{
    padding-right: 5px;
    font-size: 15px;
    }

    
}