@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Serif+Display&family=Macondo&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Permanent+Marker&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #FBF6EF;
    font-family: Arial, Helvetica, sans-serif;
}

#side{
    width: 11%;
    height: auto;
    position: fixed;
    margin-left: 20px;
    margin-top: 30px;
}

#nav{
    display: flex;
    align-items: center;
    margin: 10px 40px;
    font-size: 23px;
    padding-top: 80px;
}

#nav a{
    padding-right: 10px;
    cursor: pointer;
    color: black;
    margin-left: 20%;
}

#nav a:hover{
    color: #0066AF;
}

#nav p{
    margin-left: 340px;
    font-size: 30px;
    font-weight: 700;
    font-family: "Inter", sans-serif
}
#contact td{
    padding-top: 10px;
    width: 500px;
}

#contact table{
    margin: 10px auto;
    width: 200px;
    height: 30px;
}

#contact .icon{
    font-size: 20px;
    padding-right: 20px;
}

#contact input[type="text"], input[type='tel'], input[type='email']{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    background-color: #D9D9D9;
    border: none;
    padding-left: 10px;
}

#contact .upload{
    width: 220px;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 20px;
    text-align: center;
    line-height: 30px;
    justify-content: center;
}

#info table{
    margin: 10px auto;
}

#info .section{
    padding-right: 10px;
    font-size: 15px;
}

#info td{
    padding: 10px;
}

#info textarea{
    width: 800px;
    height: 200px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 15px;
}

.save{
    display: flex;
}

input[type="submit"]{
    background-color: #075085;
    color: white;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    border: #075085;
    margin-left: auto;
    margin-right: 20%;
    margin-bottom: 20px;
    margin-top: 10px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #288fd8;
} 

/* phone */
@media(max-width: 600px){
    #contact input[type="text"], input[type='tel'], input[type='email']{
        width: 230px;
        height: 30px;
        font-size: 13px;
    }

    #contact .icon{
        font-size: 18px;
        padding-right: 10px;
    }

    #info td{
        padding: 5px;
    }

    #info textarea{
        width: 280px;
        height: 150px;
        font-size: 13px;
    }

    #info .section{
    padding-right: 5px;
    font-size: 12px;
    }

    #nav a{
        margin-left: 0;
    }

    #nav p{
        font-size: 20px;
        margin-left: 10px;
    }
} 

/* tablet */
@media(min-width: 601px) and (max-width: 1024px){
    #contact input[type="text"], input[type='tel'], input[type='email']{
        width: 350px;
        height: 30px;
        font-size: 13px;
    }

    #info td{
        padding: 5px;
    }

    #info textarea{
        width: 600px;
    }

    #contact table{
    margin: 10px auto;
    }

    #info .section{
    padding-right: 5px;
    font-size: 15px;
    }

    #nav a{
        margin-left: 0;
    }

    #nav p{
        font-size: 20px;
        margin-left: 10px;
    }
}