/* RESET MAIN */
main {
  margin: 0;
  padding: 0;
}

/* IMAGE SCROLL */
.imageScroll {
  margin-top: 50px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.carousel {
  display: flex;
}

.imageScroll img {
  flex: 0 0 100%;
  height: 220px; 
  object-fit: cover;
  scroll-snap-align: start;
}

.imageScroll::-webkit-scrollbar {
  display: none;
}

/* WELCOME MSG*/
.welcome-text {
  color: #075085;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
}


/* PROGRAMS */
section {
  padding: 20px;
}

section h2 {
  font-size: 1.4rem;
  margin: 15px 0;
  color: #075085;
}

.scroll-container {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.card {
  flex: 0 0 220px;
  background: #f9f9f9;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.card h3 {
  margin: 0 0 8px;
}

.card p {
  font-size: 0.9rem;
  flex-grow: 1;
}

.icon-btn {
  align-self: flex-end;
  background: none;
  border: 2px solid #075085;
  color: #fff;
  padding: 6px 8px;
  border-radius: 6px;
  cursor: pointer;
}

.icon-btn:hover{
  background:#075085
}

.project-card {
  flex: 0 0 240px;
  height: 160px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-card:hover{
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.project-card .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  color: #fff;
  padding: 10px;
  font-size: 0.9rem;
}

.project-card h3 {
  margin: 0 0 5px;
  font-size: 1rem;
}

.project-card button {
  margin-top: 5px;
  background: #075085;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.section-link {
    text-decoration: none;
    color: #075085;
    transition: color 0.3s ease;
}

.section-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* GOALS */
.goals p {
  line-height: 1.5;
  margin: 0;
  padding: 10px;
  background: #FBF6EF;
  border-radius: 8px;
  text-align: justify;
}

/* TABLET */
@media (min-width: 768px) {
  .imageScroll img {
    height: 300px;
  }
  .card {
    flex: 0 0 250px;
  }
  section {
    padding: 30px;
  }

  .welcome-text {
    font-size: 1.8rem;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .imageScroll img {
    height: 380px;
  }
  .card {
    flex: 0 0 300px;
  }
  section {
    padding: 40px;
  }

  .welcome-text {
    font-size: 2rem;
  }
}
