/* FORM CONTAINER */
.container {
  margin: 100px auto 0;
  width: 100%;
  max-width: 350px;
  padding: 20px;
  background: #FBF6EF;
  border-radius: 12px;
  text-align: center;
}

/* IMAGE */
.login_register-IMG {
  width: 150px;
  margin-bottom: 15px;
  border-radius: 20px; 
  object-fit: cover; 
}

/* FORM */
.form-box {
  display: flex;
  flex-direction: column;
}

.form-box input {
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* SMALL TEXT */
.text-small {
  margin-top: 12px;
  font-size: 14px;
}

/* TABLET */
@media (min-width: 768px) {
  .container {
    max-width: 500px;
    padding: 30px;
  }

  .site-title {
    font-size: 22px;
  }

  .form-box input {
    font-size: 16px;
    padding: 14px;
  }

  .btn {
    font-size: 18px;
    padding: 14px;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .container {
    max-width: 600px;
    padding: 40px;
  }

  .site-title {
    font-size: 26px;
  }

  .form-box input {
    font-size: 18px;
    padding: 16px;
  }

  .btn {
    font-size: 20px;
    padding: 16px;
  }
}

