/* FORM CONTAINER */
.container {
  margin: 100px auto 0;
  width: 100%;
  max-width: 350px;
  padding: 20px;
  background: #FBF6EF;
  border-radius: 12px;
  text-align: center;
}

/* IMAGE */
.login_register-IMG {
  width: 150px;
  margin-bottom: 15px;
  border-radius: 20px; 
  object-fit: cover; 
}

/* FORM */
.form-box {
  display: flex;
  flex-direction: column;
}

.form-box input {
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form-box select {
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='12' viewBox='0 0 20 20' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M5.516 7.548l4.484 4.487 4.484-4.487L16 8.548l-6 6-6-6z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 14px;
}



/* SMALL TEXT */
.text-small {
  margin-top: 12px;
  font-size: 14px;
}

/* SUCCESS MSG */
.success-msg {
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #e6ffe6;
  color: #2e7d32;
  font-size: 16px;
  text-align: center;
}

/* ERROR MSG */
.error-msg {
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ffe6e6;
  color: #d32f2f;
  font-size: 16px;
  text-align: center;
}


/* TABLET */
@media (min-width: 768px) {
  .container {
    max-width: 500px;
    padding: 30px;
  }

  .site-title {
    font-size: 22px;
  }

  .form-box input {
    font-size: 16px;
    padding: 14px;
  }

  .form-box select {
    font-size: 16px;
    padding: 14px;
  }

  .btn {
    font-size: 18px;
    padding: 14px;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .container {
    max-width: 600px;
    padding: 40px;
  }

  .site-title {
    font-size: 26px;
  }

  .form-box input {
    font-size: 18px;
    padding: 16px;
  }

  .form-box select {
    font-size: 18px;
    padding: 16px;
  }

  .btn {
    font-size: 20px;
    padding: 16px;
  }
}
