@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Serif+Display&family=Macondo&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Permanent+Marker&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FBF6EF;
}

#side{
    width: 11%;
    height: auto;
    position: fixed;
    margin-left: 20px;
    margin-top: 120px;
}

#nav{
    display: flex;
    align-items: center;
    margin: 10px 40px;
    font-size: 23px;
    padding-top: 80px;
}

.navIcon{
    padding-right: 10px;
    cursor: pointer;
}

#nav a{
    color: black;
    margin-left: 20%;
}

#nav a:hover{
    color: #0066AF;
}

#nav p{
    margin-left: 340px;
    font-size: 30px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}

.container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 30px auto;
}

#user .profile{
    font-size: 130px;
    margin-right: 50px;
    color: black;
}

.text{
    margin-right: 30px;
    font-size: 25px;
    color: #0066AF;
}

table{
    justify-content: center; 
    margin: 10px auto;
    width: fit-content;
    padding: 10px; 
} 

td{
    padding: 20px; 
} 

#button{
    display: flex;
    background-color: #FBF6EF;
}

.delete{
    background-color: #FF0808;
    color: white;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    font-weight: 600;
    font-size: 16px;
    border: #FF0808;
    margin-left: auto;
    margin-right: 20%;
    margin-top: 10px;
    cursor: pointer;
}

.delete:hover{
    background-color: #dd1600;
}

/* phone */
@media(max-width: 600px){
    .profile{
        font-size: 60px;
        margin-right: 30px;
    }

    .text{
        font-size: 17px;
    }

    table{
        font-size: 15px;
    }

    #nav a{
        margin-left: 0;
        font-size: 20px;
    }

    #nav p{
        font-size: 20px;
        margin-left: 50px;
        font-weight: 500;
    }

    .delete{
        width: 60px;
        height: 30px;
        font-weight: 300;
        font-size: 13px;
        margin-right: 10%;


    }
}
    

/* tablet */
@media(min-width: 601px) and (max-width: 1024px){
    .profile{
        font-size: 100px;
        margin-right: 40px;
    }

    .text{
        font-size: 23px;
    }
    
    table{
        font-size: 18px;
    } 

    #nav a{
        margin-left: 80px;
    }

    #nav p{
        font-size: 20px;
        margin-left: 10px;
    }

    .delete{
        margin-left: auto;
        margin-right: 20%;
    }
} 