@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Serif+Display&family=Macondo&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Permanent+Marker&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FBF6EF;
}

#side{
    width: 11%;
    height: auto;
    position: fixed;
    margin-left: 20px;
    margin-top: 120px;
}

#nav{
    display: flex;
    align-items: center;
    margin: 10px 40px;
    font-size: 23px;
    padding-top: 80px;
}

.navIcon{
    padding-right: 10px;
    cursor: pointer;
}

#nav a{
    cursor: pointer;
    padding-right: 10px;
    color: black;
    margin-left: 20%;
}

#nav a:hover{
    color: #0066AF;
}

#nav p{
    margin-left: 300px;
    font-size: 30px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}

.container{
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 800px;
    height: 130px;
    margin: 40px auto;
    background-color: #D9D9D9;
    border: none;
    min-width: 300px;
}

.text{
    margin-left: 30px;
    width: fit-content;
    font-size: 20px;

}

#userid{
    color: #075085;
}

#username{
    color: #8F8F8F;
}

#user .profile{
     font-size: 80px;
     margin-left: 50px;
     color: black;
}

#icon{
    display: flex;
    margin-left: auto;
    margin-right: 30px;
}
.view{
    color: #075085;
    font-size: 25px;
    margin-right: 25px;
    cursor: pointer;
}

.view:hover{
    color:  #288fd8;;
}

.delete{
    color: #ef2525;
    font-size: 25px;
    cursor: pointer;
}

.delete:hover{
    color: #dd1600;
}

/* phone */
@media(max-width: 600px){
    .container{
        width: 300px;
        height: 100px;
        margin: 20px auto;
    }

    .profile{
        font-size: 50px;
        margin-left: 20px;
    }

    .text{
        margin-left: 10px;
        font-size: 15px;
    }

    #icon{
        margin-right: 20px;
    }
    .delete, .view{
        font-size: 20px;
    }

    .view{
        margin-right: 10px;
    }
}

/* tablet */
@media(min-width: 601px) and (max-width: 1024px){
    .container{
        width: 650px;
    }

    .profile{
        font-size: 70px;
    }

    .text{
        font-size: 18px;
    }
}